<template>
  <div class="mx-auto  xl:px-52 mt-4">
    <div class="bg-indigo-200 ring-2 ring-indigo-100 p-4 rounded-t-lg lg:pl-24 xl:pl-2 xl:flex justify-inline flex-wrap">
      <div class="flex flex-wrap ml-12 md:ml-28 xl:ml-0">
        <div class="xl:flex justify-inline">
          <p class="xl:mt-2 mr-1">ประเภทเหล็ก</p>
          <select v-model="steel_type" class="mr-1 bg-white w-72 md:w-52 border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            <option disabled value="">เลือกประเภทเหล็ก</option>
            <option v-for="option in all_steel_type" :key="option.ThaiName">
            {{option.ThaiName}}
            </option>
          </select>
        </div>
        <div class="xl:flex justify-inline">
          <p class="xl:mt-2 mr-1">ขนาดของเหล็ก</p>
          <select v-model="steel_size" class="text-sm mr-1 bg-white w-72 border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            <option disabled value="">เลือกขนาดเหล็ก</option>
            <option  v-for="option in all_steel_size" :key="option.Commodity" class="">
              {{option.Commodity}}
            </option>
          </select>
        </div>
      <div class="xl:flex justify-inline">
        <p class="xl:mt-2 mr-1">มาตรฐานเหล็ก</p>
        <select v-model="steel_grade" :disabled="this.empty_standard==1"
        class="w-72 md:w-52 bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
        >
          <option disabled value="">เลือกมาตรฐานเหล็ก</option>
          <option v-for="option in all_steel_standard" :key="option.Commodity">{{option.TIS_NO}}</option>
        </select>
      </div>
       <div>
          <button @click="search" class="pt-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
            <p class="w-10 text-xs">ค้นหา</p>
          </button>
       </div>
 </div>

    </div>
  <!--  มิติเหล็กและคุณสมบัติ -->
    <div v-if="this.show_data!=0">
      <div v-if="this.show_data==1" class="flex justify-inline w-full ">
        <div class="w-3/4 bg-indigo-100 py-2 flex justify-center ring-2 ring-gray-100">
          <p class="font-semibold py-1 cursor-default">มิติเหล็กและคุณสมบัติ</p>
        </div>
        <div class="w-1/4 bg-white py-2 flex justify-center ring-2 ring-gray-100 hover:bg-indigo-100 cursor-pointer hover:shadow-lg">
          <p @click="clickMore" class="font-semibold text-gray-500 h-full w-full  hover:text-black">ข้อมูลอื่นๆ </p>
        </div>
      </div>
      <div v-else-if="this.show_data==2" class="flex justify-inline">
        <div class="w-2/4 bg-white py-2 flex justify-center ring-2 ring-gray-100 hover:bg-indigo-100 cursor-pointer hover:shadow-lg">
          <p @click="clickBasic" class="font-semibold py-1 text-gray-500  h-full w-full  hover:text-black">มิติเหล็กและคุณสมบัติ</p>
        </div>
         <div class="w-2/4 bg-indigo-100 py-2 flex justify-center ring-2 ring-gray-100">
          <p class="font-semibold py-1 cursor-default">ข้อมูลอื่นๆ</p>
        </div>
      </div>
    </div>
    <div class="h-16 bg-indigo-100 rounded-b-lg ring-2 ring-gray-100" v-else>
      <p class="font-light py-4 text-gray-400 cursor-default">-- No Data --</p>
    </div>
   <!-- ปิดส่วนหัวย่อย --> 
   <div v-if="this.show_data==1">
    <div class="flex flex-wrap overflow-hidden bg-gray-200 ring-2 ring-gray-100 rounded-b-lg pb-2" v-for="item in all_data" :key="item.Commodity">
      <div class="overflow-hidden w-full md:w-1/2 "> 
          <div class="ml-4 flex justify-inline">
            <div class="w-2/4">
              <div class="flex justify-start py-1">
                <span>Unit Weight (kg./m.):  </span>
                <span class="text-red-500 ml-2">{{item.weight_per_meter}}</span>
              </div>
              <div class="flex justify-start py-1">
                <span>Weight to per (Kg.):</span>
                <span class="text-red-500 ml-2">{{item.standard_weight}}</span>
              </div>
           
            </div>
            <div class="w-2/4">
            <div class="flex justify-inline">
              <div>
                <button type="text" class="border-2 border-gray-500 cursor-default mt-4 mr-2 px-1">{{item.A_mm}} mm. </button>
              </div>
               <img src="../img/exam_steel.jpg" class=" mt-2 w-20 h-20" alt="">
              <div>
                <button type="text" class="border-2 border-gray-500 cursor-default mt-12 ml-2 px-1">{{item.thickness_Azubb_mm}} mm. </button>
              </div>
            </div>
             <div>
                <div>
                <button type="text" class="border-2 border-gray-500 cursor-default mt-2 px-1 mb-2">{{item.B_mm}} mm. </button>
              </div>
             </div>
            </div>
           
            
          </div>
         <div class="mx-4">
              <div class="flex justify-start py-1">
                <span>Dimension</span>
              </div>
            <table class="bg-gray-100 rounded-lg shadow-lg text-sm md:text-base w-full">
              <thead>
                <th class="w-8"> </th>
                <th class="px-2 pt-2">STD.(mm.)</th>
                <th class="px-2 pt-2">MIN(mm.)</th>
                <th class="px-2 pt-2">MAX(mm.)</th>
              </thead>
              <tbody>
                <tr>
                  <td>A: </td>
                  <td class="text-red-500">{{item.A_mm}}</td>
                  <td class="text-red-500">{{item.Min_A_mm}}</td>
                  <td class="text-red-500">{{item.Max_A_mm}}</td>
                </tr>
                <tr>
                  <td>B: </td>
                  <td class="text-red-500">{{item.B_mm}}</td>
                  <td class="text-red-500">{{item.Min_B_mm}}</td>
                  <td class="text-red-500">{{item.Max_B_mm}}</td>
                </tr>
                <tr>
                  <td>H: </td>
                  <td class="text-red-500">{{item.H_mm}}</td>
                  <td class="text-red-500">{{item.Min_H_mm}}</td>
                  <td class="text-red-500">{{item.Max_H_mm}}</td>
                </tr>
                <tr>
                  <td>TA: </td>
                  <td class="text-red-500">{{item.thickness_Azubb_mm}}</td>
                  <td class="text-red-500">{{item.Min_thicknessA_mm}}</td>
                  <td class="text-red-500">{{item.Max_thicknessA_mm}}</td>
                </tr>
                 <tr>
                  <td>TB: </td> 
                  <td class="text-red-500">{{item.thickness_Bzubb_mm}}</td>
                  <td class="text-red-500">{{item.Min_thicknessB_mm}}</td>
                  <td class="text-red-500">{{item.Max_thicknessB_mm}}</td>
                </tr>
                <tr>
                  <td>TH: </td>
                  <td class="text-red-500">{{item.thickness_Hzubb_mm}}</td>
                  <td class="text-red-500">{{item.Min_thicknessH_mm}}</td>
                  <td class="text-red-500">{{item.Max_thicknessH_mm}}</td>
                </tr>
              </tbody>
            </table>
         </div>
        <div class="ml-4">
          <div class="flex justify-start pt-1">
              <span>Diameter (mm.): </span>
              <span class="text-red-500 ml-2">{{item.diameter}}</span>
          </div>
       
        </div>
       </div>
      <div class="overflow-hidden w-full md:w-1/2 ">
      <div class="flex justify-start ml-4 py-1">
        <div class="w-full text-left">
          <div>
            <span>Grade:  </span>
            <span class="text-red-500 ml-2">{{ item.TIS_Grade }}</span>
          </div>
          <div>
            <span class="font-semibold">ส่วนประกอบทางเคมี</span>   
          </div>
          <div>
            <span>Carbon: </span>   
            <span class="text-red-500 ml-2">{{item.Min_Carbon_StdZubb}} {{item.Max_Carbon_StdZubb}}</span>   
          </div>
          <div>
              <span class="text-left">Silicon: </span>
              <span class="text-red-500">{{item.Min_Silicon_StdZubb}} {{item.Max_Silicon_StdZubb}}</span>
          </div>
          <div>
               <span class="text-left">Manganese: </span>
               <span class="text-red-500">{{item.Min_Manganese_StdZubb}} {{item.Max_Manganese_StdZubb}}</span>
          </div>
          <div>
              <span class="text-left">Phosphorus: </span>
              <span class="text-red-500">{{item.Min_Phosphorus_StdZubb}} {{item.Max_Phosphorus_StdZubb}}</span>
          </div>
          <div>
               <span class="text-left">Sulphur: </span>
               <span class="text-red-500">{{item.Min_Sulphur_StdZubb}} {{item.Max_Sulphur_StdZubb}}</span>
          </div>
          <div>
            <span class="font-semibold">ส่วนประกอบเชิงกล</span>   
          </div>
           <div>
              <span class="text-left">Yield Strength (kgf.mm.2): </span>   
              <span class="text-red-500">{{item.Min_Ys_StdTIS}} {{item.Max_Ys_StdTIS}}</span>   
            </div>
            <div>
              <span class="text-left">Tensile Strength (kgf.mm.2): </span>
              <span class="text-red-500">{{item.Min_Ts_StdTIS}} {{item.Max_Ts_StdTIS}}</span>
            </div>
            <div>
              <span class="text-left">%E: </span>
              <span class="text-red-500">{{item.Max_E_StdTIS}}</span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div v-else-if="this.show_data==2">
  <div class="bg-gray-200 rounded-b-lg ring-2 ring-gray-100" v-for="item in all_data" :key="item.Commodity">
    <div class="flex justify-inline">
      <div class="w-3/4 flex justify-start py-1 ml-4 mt-2 bg-gray-100 rounded-lg">
        <p class="text-left font-semibold mr-1 ml-4">คำอธิบายสินค้า: </p> 
        <p class="text-left">{{item.description}}</p>
      </div>
      <div class="w-1/4 py-6">
        <button class="p-2 bg-red-400 ring-2 ring-red-200 rounded-lg font-semibold shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">ราคาขาย</button>
      </div>
    </div>
    <div class="ml-4">
      <table>
        <thead>
          <th>รายละเอียดสินค้า</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1">Material: </p>
              <p class="ml-4 bg-white p-1 rounded-lg">{{item.Matcode}}</p>
            </td>
          </tr>
            <tr>
            <td class="text-left flex justify-inline">
             <p class="p-1 mt-1">Material Description:</p> 
             <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.Commodity}} </p>
            </td>
          </tr>
            <tr>
            <td class="text-left flex justify-inline">
             <p class="p-1 mt-1">Invoice Description:</p>  
             <p class="ml-4 bg-white p-1 rounded-lg mt-1">{{item.InvoiceDescription}}</p>
            </td>
          </tr>
            <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">Nick name:</p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.Nickname}}</p>
            </td>
          </tr>
            <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">English name: </p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.Englishname}}</p>
            </td>
          </tr>
            <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">Length (M): </p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.Length_M}}</p>
            </td>
          </tr>
              <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">Quantity per package(PC):</p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.quantity_per_package}} </p>
            </td>
          </tr>
              <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">Weight per package(KG): </p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.weight_per_package}}</p>
            </td>
          </tr>
              <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">Production Plant:</p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.Production_Plant}} </p>
            </td>
          </tr>
           <tr>
            <td class="text-left flex justify-inline">
              <p class="p-1 mt-1">Competitor: </p>
              <p class="ml-4 bg-white p-1 rounded-lg mt-1"> {{item.Competitor}} </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


  </div>

</template>

<script>
import axios from 'axios';
const urlapi = 'https://hook.zubbsteel.com/line-ci/steelinfo/stinfo/'
export default {
  data() {
    return {
    steel_type:"",
    steel_size:"",
    steel_grade:"",
    all_steel_type:"",
    all_steel_size:"",
    all_steel_standard:"",
    empty_standard:0,
    all_data:"",
    show_data:0,
    topic:["thickness_Bzubb_mm","item.Min_thicknessB_mm"]
    };
  },
  props: {
    test: String,
    count: Number,
    show: Boolean,
  },
  created(){
    this.get_allSteel();
  },
  computed:{
    
  }
  ,
  watch:{
    async steel_type(){
      await this.get_select();
      this.get_size()
    },
    async steel_size(){
      this.get_standard();
      console.log("size is changed")
    }
  }
  ,
  methods:{
     async get_allSteel(){
      try {
      const data_type = await axios .get(urlapi+"get_selected");
      this.all_steel_type = data_type.data
      } catch (error) {
        console.error()
      }
    },
   async get_select(){
      try {
      const data_type = await axios .get(urlapi+"get_selected");
      this.all_steel_type = data_type.data
      this.steel_size=""
      } catch (error) {
        console.error()
      }
    },
    async get_size(){
       console.log("ได้==>>"+this.steel_type+"จ้า");
      try {
         const data_size = await axios .post(urlapi+"get_size",{type:this.steel_type});
         this.all_steel_size = data_size.data;
         this.steel_grade=""
      } catch (error) {
         console.error()
      }
    },
      async get_standard(){
      try {
         const data_size = await axios .post(urlapi+"get_standard",{type:this.steel_type,size:this.steel_size});
         this.all_steel_standard = data_size.data;
         
         if(this.all_steel_standard[0].TIS_NO==null){
           this.empty_standard=1
           this.steel_grade="";
           console.log("เข้าบน DIS")
         }else{
           this.empty_standard=0
           console.log("เข้าล่างไม่ DIS")
           }
      } catch (error) {
         console.error()
      }
    },
    async search(){
      if(this.steel_type==""){
        alert("เลือกข้อมูลที่ต้องการค้นหาให้ครบทุกช่องก่อนกดค้นหา :)")
      }else{
        if(this.steel_size==""){
           alert("เลือกขนาดของเหล็กก่อน :)")
        }else{
          if(this.empty_standard==0 && this.steel_grade==""){
            alert("เลือกมาตรฐานของเหล็กก่อน :)")
          }
        }
      }
      try {
       
        if(this.steel_grade==""){
          this.steel_grade = null
        }
        const data_all = await axios .post(urlapi+"get_alldata",{type:this.steel_type,size:this.steel_size,standard:this.steel_grade});
        this.all_data = data_all.data;
        let C = this.all_data[0].Min_Carbon_StdZubb;
        if(C!=""&&C!=null){
          this.all_data[0].Min_Carbon_StdZubb =  this.all_data[0].Min_Carbon_StdZubb+" -";
        }
        let Si = this.all_data[0].Min_Silicon_StdZubb;
        if(Si!=""&&Si!=null){
          this.all_data[0].Min_Silicon_StdZubb =  this.all_data[0].Min_Silicon_StdZubb+" -";
        }
        let Mn = this.all_data[0].Min_Manganese_StdZubb;
        if(Mn!=""&&Mn!=null){
          this.all_data[0].Min_Manganese_StdZubb =  this.all_data[0].Min_Manganese_StdZubb+" -";
        }
        let P = this.all_data[0].Min_Phosphorus_StdZubb;
        if(P!=""&&P!=null){
          this.all_data[0].Min_Phosphorus_StdZubb =  this.all_data[0].Min_Phosphorus_StdZubb+" -";
        }
        let Su = this.all_data[0].Min_Sulphur_StdZubb;
        if(Su!=""&&Su!=null){
          this.all_data[0].Min_Sulphur_StdZubb =  this.all_data[0].Min_Sulphur_StdZubb+" -";
        }


        if(this.all_data.length>0){  //มีข้อมูลตั้งแต่กดค้นหา ให้ this.show_data = 1
          this.show_data = 1;
        }else{
          this.show_data = 0;
        }

        if(this.all_data[0].weight_per_meter==null){
          this.all_data[0].weight_per_meter = '-'
        }else{
          this.all_data[0].weight_per_meter = parseFloat(this.all_data[0].weight_per_meter).toFixed(2);
        }
        if(this.all_data[0].standard_weight==null){
          this.all_data[0].standard_weight = '-'
        }else{
          this.all_data[0].standard_weight = parseFloat(this.all_data[0].standard_weight).toFixed(2);
        }

        if(this.all_data[0].A_mm==null){
          this.all_data[0].A_mm='-';
        }
        if(this.all_data[0].Min_A_mm==null){
          this.all_data[0].Min_A_mm='-';
        }
        if(this.all_data[0].Max_A_mm==null){
          this.all_data[0].Max_A_mm='-';
        }
        if(this.all_data[0].B_mm==null){
          this.all_data[0].B_mm='-';
        }
        if(this.all_data[0].Min_B_mm==null){
          this.all_data[0].Min_B_mm='-';
        }
        if(this.all_data[0].Max_B_mm==null){
          this.all_data[0].Max_B_mm='-';
        }

        if(this.all_data[0].H_mm==null){
          this.all_data[0].H_mm='-';
        }
        if(this.all_data[0].Min_H_mm==null){
          this.all_data[0].Min_H_mm='-';
        }
        if(this.all_data[0].Max_H_mm==null){
          this.all_data[0].Max_H_mm='-';
        }
        if(this.all_data[0].thickness_Azubb_mm==null){
          this.all_data[0].thickness_Azubb_mm='-'; 
        }
        if(this.all_data[0].Min_thicknessA_mm==null){
          this.all_data[0].Min_thicknessA_mm='-'; 
        }
        if(this.all_data[0].Max_thicknessA_mm==null){
          this.all_data[0].Max_thicknessA_mm='-'; 
        }
        if(this.all_data[0].thickness_Bzubb_mm==null){
          this.all_data[0].thickness_Bzubb_mm='-'; 
        }
        if(this.all_data[0].Min_thicknessB_mm==null){
          this.all_data[0].Min_thicknessB_mm='-'; 
        }
        if(this.all_data[0].Max_thicknessB_mm==null){
          this.all_data[0].Max_thicknessB_mm='-'; 
        }
        if(this.all_data[0].thickness_Hzubb_mm==null){
          this.all_data[0].thickness_Hzubb_mm='-'; 
        }
        if(this.all_data[0].Min_thicknessH_mm==null){
          this.all_data[0].Min_thicknessH_mm='-'; 
        }
        if(this.all_data[0].Max_thicknessH_mm==null){
          this.all_data[0].Max_thicknessH_mm='-'; 
        }
        if(this.all_data[0].diameter==null){ 
          this.all_data[0].diameter='-';
        }
        if(this.all_data[0].C==null){
          this.all_data[0].C='-';
        }
        if(this.all_data[0].Si==null){
          this.all_data[0].Si='-';
        }
        if(this.all_data[0].Mn==null){
          this.all_data[0].Mn='-';
        }
        if(this.all_data[0].P==null){
          this.all_data[0].P='-';
        }
        if(this.all_data[0].S==null){
          this.all_data[0].S='-';
        }
        if(this.all_data[0].Min_Ys_StdTIS!="" && this.all_data[0].Min_Ys_StdTIS!=null)
        {
          this.all_data[0].Min_Ys_StdTIS = this.all_data[0].Min_Ys_StdTIS+" -";
        }
        if(this.all_data[0].Min_Ts_StdTIS!="" && this.all_data[0].Min_Ts_StdTIS!=null)
        {
          this.all_data[0].Min_Ts_StdTIS = this.all_data[0].Min_Ts_StdTIS+" -";
        }
        
      } catch (error) {
        console.error()
      }
    },
    clickMore(){
      this.show_data=2
    },
    clickBasic(){
      this.show_data=1
    },
 
  }
};
</script>

<style></style>
